<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=.\codingtracker.db;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key ="CorrectTimeFormat" value="h:mm tt"/>
		<add key ="CorrectDateFormat" value="yyyy-MM-dd"/>
		<add key ="CurrentSupportedCutlure" value="en-US"/>
	</appSettings>
</configuration>
